@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&dispplay=swap");

body {
  font-family: "Open Sans";
  background: #ece6d9;
}

header {
  text-align: center;
}

header .order {
  margin-top: 20px;
}

button {
  margin: 0 10px;
  color: #1195c9;
  border: 3px solid #1195c9;
  background: #d5f0ff;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}
