@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&dispplay=swap");

@font-face {
  font-family: HyliaSerif;
  src: url("../assets/fonts/HyliaSerifBeta-Regular.otf") format("opentype");
}

body {
  font-family: "Open Sans";
  background: #ece6d9;
}

header {
  text-align: center;
}
header .title {
  display: flex;
  justify-content: center;
}

header img {
  width: 60px;
  margin-right: 20px;
}

header .order {
  margin-top: 20px;
}

header h1 {
  font-size: 3em;
}

button {
  margin: 0 10px;
  color: #1195c9;
  border: 3px solid #1195c9;
  background: #d5f0ff;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

h1 {
  font-family: HyliaSerif;
  letter-spacing: 4px;
}
